.Our-headquarters__heading{
  font-family: 'Fraunces' 9pt;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 72px;
  margin-top: 0px;
  margin-left: 100px;
}
.Our-headquarters__list{
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 168px;
}
.United-Kingdom__heading{
  font-family: 'Fraunces' 9pt;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}
.text{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  
}