/* How it works-------- */

.how-it-works__heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 80px;
  margin-top: 0px;
}
.how-it-works__steps{
  margin-bottom: 80px;
}

.how-it-works__line {
  width: 100%;
  max-width: 760px;
  position: relative;
  display: block;
 
  /* height: 1px; */
  background-color: #FDD6BA;
  border: 2px solid #FDD6BA;
}

.how-it-works__line::before {
  content: "";
  position: absolute;
  display: block;
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
  transform: translate( -50%, -50%);
}

.how-it-works__line::after {
  content: "";
  position: absolute;
  display: block;
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
  right: 0;
  top: 0;
  transform: translate( 50%, -50%);
}

.how-it-works__sub-line::before {
  content: "";
  position: absolute;
  display: block;
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
  right: 50%;
  top: 0;
  transform: translate( 50%, -50%);
}

/* -----raqam---- */
.how-it-works__list{
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  margin-bottom: 64px;
}
.how-it-works__item{
  width: 280px;
}
.how-it-works__item + .how-it-works__item{
 margin-left: 125px;
}
.how-it-works__img{
  margin-bottom: 38px;
}
.how-it-works__heading-text{
  margin-bottom: 42px;
  margin-top: 0px;
  font-family: 'Fraunces' 9pt;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;  
  color: #333D4B;
}
.how-it-works__text{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}
.hero__link.link{
  margin-bottom: 200px;
}